<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CsvToJson</title>
</head>
<body>
   <form method = "post">
       <textarea type="text" name="text" cols="50" rows="10"></textarea>
       <button type="csvtojson">CSVtoJSON</button>
   </form>
</body>
</html>